@page "/math"

<PageTitle>Maths</PageTitle>

<h1>Hello, world!</h1>

<p>You can solve quadratic equation if \$\Delta\ge 0 \$. There is \$\Delta = b^2-4ac \$.</p>

<p>If \$x\$ is solution to the quadratic equation \$ax^2+bx+c=0\$ and \$a\neq 0\$ then formula for \$x\$ is:</p>
\[ x=\frac{-b\pm \sqrt{\Delta}}{2a}  \]

Welcome to your new app.



@code {

}
